<h1>Todo Details</h1>

<h2>
  <input type="checkbox" name="isDone" {{#if data.isDone }} checked {{/if}} disabled>
name : {{data.name}}
</h2>
<h2>id : {{data._id}}</h2>
<h2>
  <a href=/edit/{{data._id}} id=`{{data._id}}`>edit</a>
</h2>
<form action='/delete/{{data._id}}?_method=DELETE' id=`{{data._id}}` method="post" style="display:inline"> 
  <button type="submit" >delete</button>
</form>
<h2>
  <a href="/">back</a>
</h2>