<h1>Todo Details</h1>
<h2>name : {{data.name}}</h2>
<h2>done : {{data.done}}</h2>
<h2>id : {{data._id}}</h2>
<h2>
  <a href=/edit/{{data._id}} id=`{{data._id}}`>edit</a>
</h2>
<form action=/delete/{{data._id}} id=`{{data._id}}` method="post" style="display:inline"> 
  <button type="submit" >delete</button>
</form>
<h2>
  <a href="/">back</a>
</h2>